@import 'base.scss';

@mixin container {
  max-width: $container-width;
  padding: 1.5rem 1.2rem;
  margin: 0 auto;
}

@mixin flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Não necessario nesse projeto (Em analise...)
// @mixin bg-img($img) {
//   background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0)), url('../img/#{$img}');
//   background-size: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   filter: grayscale(100%);

//   &:hover {
//     background-size: 105%;
//     filter: grayscale(0%);
//   }
// }

@function rem($size) {
  $value: calc($size / 16);
  @return #{$value}rem;
}

@mixin responsive-min($width) {
  @media(min-width: $width) {
    @content
  }
}

