@import 'base.scss';
@import 'mixin.scss';


header {
  padding: rem(10);
  @include container;

  h1 {
    color: $green;
  }
}

section {
  @include container;

  .pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(15);

    @include responsive-min(445px) {
      grid-template-columns: 1fr 1fr;
    }
    @include responsive-min(1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__card {
      background-color: rgb(207, 207, 207);
      border-radius: $radius;
      padding: rem(15);

      &__name {
        @include flex-box;
        align-items: flex-start;
        justify-content: space-between;
        height: rem(40);
        margin-bottom: rem(5);

        h2 {
          color: $white;
          font-size: rem(22);
          align-self: flex-end;
          text-transform: capitalize;
        }

        p {
          font-size: rem(12);
        }
      }

      &__details {
        @include flex-box;
        justify-content: space-between;
        align-items: flex-start;

        div {
          margin-top: rem(15);

          p {
            
            font-size: rem(13);
            color: $white;
            background-color: rgba(255, 255, 255, 0.3);
            padding: rem(5) rem(12);
            margin-bottom: rem(5);
            border-radius: $radius + 5;

            @include responsive-min(420px) {
              font-size: rem(12);
            }
            @include responsive-min(750px) {
              font-size: rem(18);
            }
          }
        }

        img {
          width: 40%;
        }
      }
    }
    .normal {
      background-color: $normal;
    }
    .fire {
      background-color: $fire;
    }
    .water {
      background-color: $water;
    }
    .grass {
      background-color: $grass;
    }
    .eletric {
      background-color: $eletric;
    }
    .ice {
      background-color: $ice;
    }
    .ground {
      background-color: $ground;
    }
    .flying {
      background-color: $flying;
    }
    .poison {
      background-color: $poison;
    }
    .fighting {
      background-color: $fighting;
    }
    .psychic {
      background-color: $psychic;
    }
    .dark {
      background-color: $dark;
    }
    .rock {
      background-color: $rock;
    }
    .bug {
      background-color: $bug;
    }
    .ghost {
      background-color: $ghost;
    }
    .steel {
      background-color: $steel;
    }
    .dragon {
      background-color: $dragon;
    }
    .fairy {
      background-color: $fairy;
    }
  }
}