@import 'base.scss';
@import 'mixin.scss';


header {
  padding: rem(10);
  background-color: $back-gray;
  border-radius: 0 0 rem(10) rem(10);
  
  section {
    @include container;
    @include flex-box;
    
    img {
      width: 50px;
      height: 50px;
      margin: rem(5);
      transform: translateY(-3px);
    }

    h1 {
      color: $white;
    }

  }
}

section {
  @include container;

  .pokemons {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(15);

    @include responsive-min(750px) {
      grid-template-columns: 1fr 1fr;
    }
    @include responsive-min(1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__card {
      height: rem(245);
      background-color: rgb(207, 207, 207);
      border-radius: $radius;
      padding: rem(15);
      position: relative;
      overflow: hidden;

      @include responsive-min(450px) {
        padding: rem(25);
        height: rem(390);
      }
      
      @include responsive-min(750px) {
        height: rem(280);
      }
      
      @include responsive-min(1024px) {
        height: rem(230);
      }
      &:hover {
        transform: translateY(-2px);
        cursor: pointer;
        
        .pokemons__card__details__poke-img {
          transform: translateY(-10px) scale(1.1);
        }
        
        .pokemons__card__img {
          transform: translateY(-5px) translateX(-5px) scale(1.2) rotate(-15deg); 
        }

        p, h2 {
          transform: translateY(-2px);
        }
      }

      &__name {
        @include flex-box;
        align-items: flex-start;
        justify-content: space-between;
        height: rem(40);
        margin-bottom: rem(5);

        h2 {
          color: $white;
          font-size: rem(32);
          align-self: flex-end;
          text-transform: capitalize;

          @include responsive-min(450px) {
            font-size: rem(40);
          }
          @include responsive-min(1024px) {
            font-size: rem(27);
          }
        }

        p {
          font-size: rem(19);
          color: $pokemon-number-degra;

          @include responsive-min(450px) {
            font-size: rem(25);
          }
          @include responsive-min(1024px) {
            font-size: rem(19);
          }
        }
      }

      &__details {
        @include flex-box;
        justify-content: space-between;
        align-items: flex-start;

        div {
          margin-top: rem(15);
          z-index: 1;

          p {
            font-size: rem(20);
            color: $white;
            background-color: rgba(255, 255, 255, 0.3);
            padding: rem(5) rem(12);
            margin-bottom: rem(5);
            border-radius: $radius + 5;
            z-index: 1;

            @include responsive-min(450px) {
              font-size: rem(28);
            }
            @include responsive-min(1024px) {
              font-size: rem(18);
            }
          }
        }

        &__poke-img {
          width: 30%;
          position: absolute;
          right: rem(35); 
          bottom: rem(10); 
          z-index: 1;
        }
      }

      &__img {
        width: 50%;
        position: absolute;
        bottom: rem(-30);
        right: rem(-30);
        opacity: 0.3;
        transform: rotate(15deg);
      }
    }
    .normal {
      background-color: $normal;
    }
    .fire {
      background-color: $fire;
    }
    .water {
      background-color: $water;
    }
    .grass {
      background-color: $grass;
    }
    .electric {
      background-color: $electric;
    }
    .ice {
      background-color: $ice;
    }
    .ground {
      background-color: $ground;
    }
    .flying {
      background-color: $flying;
    }
    .poison {
      background-color: $poison;
    }
    .fighting {
      background-color: $fighting;
    }
    .psychic {
      background-color: $psychic;
    }
    .dark {
      background-color: $dark;
    }
    .rock {
      background-color: $rock;
    }
    .bug {
      background-color: $bug;
    }
    .ghost {
      background-color: $ghost;
    }
    .steel {
      background-color: $steel;
    }
    .dragon {
      background-color: $dragon;
    }
    .fairy {
      background-color: $fairy;
    }
  }

  .pagination {
    text-align: center;
    padding-top: rem(30);

    button {
      color: white;
      background-color: $back-gray;
      padding: rem(15) rem(25);
      border-radius: rem(10);
      border: none;

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
      }

    }
  }
}


footer {
  text-align: center;
  padding: rem(20) 0;
  background-color: $back-gray;
  border-radius: rem(10) rem(10) 0 0;

  p {
    color: $white;
  }

  a {
    color: $white;
    font-size: rem(20);
  }
}